In [8]:
import sgs
import pandas as pd

In [9]:
ts = sgs.time_serie(25442,'01/01/1900','01/01/3001')

In [15]:
df = pd.DataFrame(ts)

In [17]:
df.tail(3)[25442].sum()/3

1.6966666666666665

In [16]:
df.tail(3)

            25442
2023-04-01   1.73
2023-05-01   1.72
2023-06-01   1.64